{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}社区 - 在线学习网{% endblock %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="/">首页</a>></li>
                <li><a href="{% url 'shequ' %}">社区</a></li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}
<section>
	<div class="wp butler_list_box list">
	<div class='left'>
		<div class="listoptions">
			<ul>
				<li>
					<h2>节点</h2>
					<div class="cont">
{#                    如果后台传过来的node_id为空  全部显示高亮#}
                        <a href="?sort={{ sort }}"><span class="{% ifequal node_id '' %}active2{% endifequal %}">全部</span></a>
                                {% for node in all_node %}
                                    <a href="?node={{ node.id }}&sort={{ sort }}">
{#                                    如果后台传过来的id与当前id相同就高亮#}
                                    <span class="{% ifequal node_id node.id|stringformat:"i" %}active2{% endifequal %}">{{ node.name }}</span>
                                    </a>
                                {% endfor %}
					</div>
				</li>
			</ul>
		</div>
        <div class="all">共<span class="key">{{ nums }}</span>个话题</div>
		<div class="butler_list company list">
		<div class="layout">
			<div class="head">
				<ul class="tab_header">
					<li class="{% if sort == '' %}active{% endif %}"><a href="?node={{ node_id }}">全部</a> </li>
{#                    最新和最熱与前面的节点结合起来使用#}
					<li class="{% if sort == 'addtime' %}active{% endif %}"><a href="?sort=addtime&node={{ node_id }}">最新 &#8595;</a></li>
					<li class="{% if sort == 'clicknum' %}active{% endif %}"><a href="?sort=clicknum&node={{ node_id }}">最热 &#8595;</a></li>
				</ul>
			</div>
            {% for topic in all_topic.object_list %}
                <dl class="des difdes">
                    <dt>
{#                        <a href="{% url 'org:org_home' topic.id %}">#}
{#                        此处是以后话题跳转的地方#}
                        <a href="#">
                            <img width="200" height="120" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ course_org.image }}"/>
                        </a>
                    </dt>
                    <dd>
                        <div class="clearfix">
                             <a href="">
                                 <h1>{{ topic.name }}</h1>
                             </a>
                        </div>
                        <ul class="cont">

                            <li style="padding-bottom:18px;">内容：
                                    <a href="">{{ topic.content }}</a>
                            </li>
                            <li class="first" style="padding-top:10px;">
                                <p class="pic9">点击数：<span>{{ topic.click_num }}</span></p>
                                <p class="c7">评论数：<span>{{ topic.number }}</span></p>
                            </li>
                        </ul>
                    </dd>
                </dl>
            {% endfor %}
		</div>
		 <div class="pageturn">
            <ul class="pagelist">
                {% if all_topic.has_previous %}
                    <li class="long"><a href="?{{ all_topic.previous_page_number.querystring }}">上一页</a></li>
                {% endif %}

                {% for page in all_topic.pages %}
                    {% if page %}
                        {% ifequal page all_topic.number %}
                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li class="none"><a href="">...</a></li>
                    {% endif %}
                {% endfor %}
                {% if all_topic.has_next %}
                    <li class="long"><a href="?{{ all_topic.next_page_number.querystring }}">下一页</a></li>
                {% endif %}

            </ul>
        </div>
		</div>
	</div>
	<div class="right companyright" style="background-color: white">
            <a href="#" class="new_button">我发布的</a>
            <hr>
            <a href="#" class="new_button">我要发布</a>
			<hr>
			<form class="rightform" style="height: 200px" id="jsStayForm">
				<div style="margin-top: 1px">
                    <img src="{% static 'images/rightform1.png' %}"/>
                    <input type="text" name="name" id="companyName" placeholder="名字" maxlength="25" />
                </div>
                <textarea placeholder="请输入内容" style="resize: none;width: 216px;height: 122px" ></textarea>

                <p class="error company-tips" id="jsCompanyTips"></p>
				<input class="btn" type="text" id="jsStayBtn" value="快速发布 >" />

            {% csrf_token %}
            </form>
		</div>

		<div class="right companyrank layout">
			<div class="head">推荐话题</div>

            {% for curent_org in hot_topic %}
                <dl class="des">
{#                forloop是显示排名数字的#}
                    <dt class="num fl">{{ forloop.counter }}</dt>
                    <dd>
                        <a href="/company/2/"><h1>{{ curent_org.name }}</h1></a>
                        <p>{{ curent_org.address }}</p>
                    </dd>
                </dl>
            {% endfor %}



		</div>
        </div>
</section>
{% endblock %}

{% block custom_css %}
    <style>
        .new_button{
            padding-top: 3px;
            text-align: center;
            display: block;
            width: 240px;
            height:30px;
            font-size: 25px;
            color: white;
            background-color: #4d555d;
            border-radius: 10px;
        }
    </style>
{% endblock %}